.product-item{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}
.price{
    margin-top: 23px;
    font-size: 20px;
    margin-left: 30px;
}
.border{
    margin-top: 200px;
}
h1{
   justify-content: center;
   align-items: center;
}
.product-list{
    display: flex;
    margin-top: 300px;
}
.navbar{
    background-color: rgb(30, 30, 30) !important;
    z-index: 1;
}
.products{
    margin-top: 300px;
    display: flex;
}